<div>
    @if (TempData["Msg"] != null)
    {
        <span class="text-bg-danger">
            @TempData["Msg"]
        </span>
    }
</div>
<div class="form-container">
    <div class="registration-form">
        <form action="/Registration" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="your-generated-token" />
            <div>
                <h4>Registration</h4>
                <hr />

                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text" id="FirstName" name="FirstName" />
                    <span class="text-danger">
                        @Html.ValidationMessage("FirstName")
                    </span>
                </div>

                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text" id="LastName" name="LastName" />
                    <span class="text-danger">
                        @Html.ValidationMessage("LastName")
                    </span>
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" id="Email" name="Email" />
                    <span class="text-danger">
                        @Html.ValidationMessage("Email")
                    </span>
                </div>

                <div class="form-group">
                    <label for="Gender">Gender</label>
                    <select id="Gender" name="Gender">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span class="text-danger">
                        @Html.ValidationMessage("Gender")
                    </span>
                </div>

                <div class="form-group">
                    <label for="DOB">Date of Birth</label>
                    <input type="date" id="DOB" name="DOB" />
                    <span class="text-danger">
                        @Html.ValidationMessage("DOB")
                    </span>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" id="Password" name="Password" />
                    <span class="text-danger">
                        @Html.ValidationMessage("Password")
                    </span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </form>
        <div>
            <a href="/Login/Index">Already Have an account?</a>
        </div>
    </div>
</div>
<script src="~/bundles/jqueryval"></script>
